// Base Styles
$fontcolor-primary: #393939;
$fontcolor-secondary: #FFFFFF;
$fontcolor-tertiary: #F1F1F1;

$color-gradient: linear-gradient(229.93deg, #AB00FF -21.91%, #007BFF 133.89%);
// $color-gradient: #AB00FF;

@mixin color-gradient{
background: -webkit-linear-gradient(229.93deg, #AB00FF -21.91%, #007BFF 133.89%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
@mixin headertext{
    font-size: 1.5rem;
    letter-spacing: .03125rem;
    line-height: 2rem;
}

@mixin cardtext {
    font-size: 1.0625rem;
    letter-spacing: .0279605625rem;
    line-height: 1.5rem;
}

@mixin formtext{
    color: $fontcolor-secondary;
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: .0220588125rem;
}

@mixin footertext {
    color: $fontcolor-tertiary;
    font-size: .625rem;
    text-transform: capitalize;
}

@mixin headertext-dt {
    font-size: 3rem;
    line-height: 4rem;  
}

@mixin navtext-dt {
    font-size: .9375rem;
    line-height: 1.25rem;
}

@mixin formtext-dt {
    color: $fontcolor-secondary;
    font-size: 1.0625rem;
    line-height: 1.4375rem;
}

@mixin footertext-dt {
    color: $fontcolor-tertiary;
    font-size: .9375rem;
    line-height: 2rem;
}

@font-face{
    font-family: "futura_book";
    src: url(./fonts/futura-book.ttf)
}

@font-face{
    font-family: "futura_bold";
    src: url(./fonts/futura-heavy.ttf);
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: "futura_bold";
}

a{
    font-family: "futura_bold";
}

// Layout Styles
.hero_container{
    width: 100%;
}

.features_container{
    width: 100%;
}

.integration_container{
    width: 100%;
}

.footer_container{
    width: 100%;
}

// Element Styles
.hero_container{
    .nav_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.8125rem .9375rem;

        .logo{
            width: 10rem;
        }

        .hamburger{
            width: 2.3125rem;
            height: .75rem;
        }
    }

    .hero_container__background{
        width: 100%;
        margin: 5rem 0rem;
        z-index: 0;

        img{
            width: 100%;
            height: 60vh;
        }
    }

    .hero__h1{
        position: absolute;
        z-index: 10;
        top: 10rem;
        left: 1rem;
        width: 35%;
        color: $fontcolor-primary;
    }

    .hero_container__card{
        position: absolute;
        top: 20rem;
        width: 100%;
        .hero__card{
            width: 100%;
            z-index: 10;
            padding: .9375rem;
        }
    }
}

.features_container{
    width: 100%;
    .features__h1{
        @include headertext();
        text-align: center;
        @include color-gradient;
        margin: 17rem .9375rem 5rem .9375rem;
    }
    .features__card{
        display: flex;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
        margin: .9375rem;
        border-radius: .4375rem;
        align-items: center;
        justify-content: space-between;

        .features-card__h2{
            @include cardtext();
            margin: 0rem 5rem 0rem 1.625rem;
        }
        img{
            margin: 1rem 1.625rem 1rem 1rem;
            height: 4rem;
        }
    }
    .features__img-container{
        width: 100%;
        display: flex;
        .features__img{
            width: 100%;
            margin: 5rem .9375rem 15rem .9375rem;
        }
    }
}

.integration_container{
    margin: 5rem .9375rem 15rem .9375rem;
    .integration-container__h1{
        @include headertext();
        @include color-gradient();
        margin: 0rem 0rem 3rem 2rem;
    }
    .integration-container__img{
        display: grid;
        width: 100%;
        grid-template-areas: "img1 . img2"
        "img5 . img4"
        ". img3 .";
        .integrationimg{
            width: 100%;
            margin: 1rem 0rem;
        }
        .integration_img1{
            grid-area: img1;
        }
        .integration_img2{
            grid-area: img2;
        }
        .integration_img3{
            grid-area: img3;
        }
        .integration_img4{
            grid-area: img4;
        }
        .integration_img5{
            grid-area: img5;
        }
    }
}

.footer_container{
    background: $color-gradient;
    height: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;

    .footer__background{
        position: absolute;
        bottom: 0;
        z-index: 2;
        height: 25rem;
        width: 100%;
    }

    .footer__h1{
        @include headertext();
        color: $fontcolor-secondary;
        text-align: center;
        margin: 2rem;
        z-index: 5;
    }
    
    .footer__form{
            display: flex;
            justify-content: center;
            z-index: 5;
            input{
                border-radius: 2.15625rem;
                padding: 0.5rem 4.875rem 0.5rem 0.75rem;
                margin: .25rem;
            }
            .footer__button{
                background: $fontcolor-secondary;
                border-radius: 2.15625rem;
                padding: .5rem 1rem;
                margin: .25rem;
                
            }
        }
   
    .footerlinks-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 10rem .9375rem 0rem 2.3rem;
        z-index: 5;
        .footer__link{
            text-decoration: none;
            @include footertext();
            margin: .25rem 0rem;
        }
    }

    
}

